/* Fonts */
/* Color */
/* Fonts */
/* Color */
@import url("https://fonts.googleapis.com/css?family=Quando|Titillium+Web:300,400,600");
.App {
  font-family: "Titillium Web", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #f44336;
  text-align: center; }
